# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/
*~

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Test
.nyc_output
coverage

# compile
bin
.metadata

# libvirt
build_libvirt/

# idea
.idea
